/*Selectores*/

/* IMPORTANTE!!

CSS es un  estilo de cascasa, es decir que los estilos que vienen por debajo sobrescriben a los de arriba!!!!!

Todos los selectores se pueden mezclar entre si

*/


/************************************************************************
Los que se utilizan son los selectores de clase (simples/atributos/clases)

A-Selectores Simples, requieren de una sola palabra o simbolo para ser utilizados

    A-1 Selectores elementales
        A-1-1 Selector universal -> * (asterisco) se usa para muy pocas cosas ya que va a seleccionar a todos los elementos de la web y no queremos eso.

        A-1-2 Selector de tipo o etiqueta (nombre de la etiqueta)


    A-2Selectores de atributos
        A-2-1  #id (usan #)- id del elemento, no es recomendable dar estilos con id

        A-2-2  .clase (usan .)- clase del elemento. estos son los selectores que se utilizan. No hay limite en la cantidad de clases que se le pueden dar a 1 mismo elemento.    

        A-2-3  otros atributos  - atributos que no sean id o clases
            Sirve para cualquier atributo que querramos elegir!!!
            [atributo] (usan []) 
            [atributo=valor]
            [atributo^=valor]
            [atributo*=valor]
            [atributo$=valor]
            [atributo|=valor]


B-Selectores compuestos, son aquellos que para ser utilizados requieren mas de una palabra o una palabra de un simbolo, etc

    B-1 Selectores agrupados
    B-2 Selectore combinadores
        B-2-1 Selector Descendiente. nos permiten ingresar a un elemento dentro de otro elemento. Sirve para "seleccionar hijos" que esten por debajo o dentro del elemento
        B-2-2 Selector de hermano siguiente -, (usa +) nos permite seleccionar el elemento siguiente
        B-2-3 Todos los hermanos siguientes (usa ~), selecciona todos los hermanos que coincidan con la eleccion
        B-2-4 Selector de hijo directo (usa >), selecciona SOLO los hijos directos

    B-3 pseudoclases y pseudoelementos
**************************************************************/
/*SELECTORES COMPUESTOS*/
/* Selectores Agrupados */

/*
.text,
.text-2,
.text-3,
.text-4{
    background-color: steelblue;
}
*/
/************************************************************************/
/*Selectores Combinadores*/
/*************************************************************************/
/*Selector Descendiente - Para seleccionar hijos que esten por debajo o dentro*/
/*
div .title-2{
    background-color: red;
}
*/
/*************************************************************************/
/*Selector de hermano siguiente*/
/*
.text-2 + .title-2 {
    background-color: tomato;
}
.text-2 ~ p{
    background-color: teal;
}
*/
/*****************************************************************************/
/*Selector de hijo directo*/
.conteiner > p{
    background-color: tomato;
}
