/*
Selector: el elemento al que vamos a aplicar estilos
Propiedad: lo que vamos a cambiar
Valor: el nuevo valor que le vamos a dar a la propiedad
Propiedad:Valor - se le denomina delcaracion
al conjunto de selector+declaracion(es) se le denomina regla
*/

selector{
    propiedad:valor;
    propiedad2:valor;
    propiedadN:valor;
}
