/* BOX MODEL + BORDER

BORDER  
    Es la propiedad que nos permite modificar el borde de la caja.
    Es un shorthand (propiedad abreviada) que agrupa 3 propiedades

        border-widht: ancho del borde
            border-top-width
            border-right-width
            border-bottom-width
            border-left-width
        border-style: estilo del borde
            border-top-style
            border-right-style
            border-bottom-style
            border-left-style

            Listado de valores para style: none, hidden, dotted, dashed, solid, double, groove, ridge, inset, outset.

        border-color: color del borde
            border-top-color
            border-right-color
            border-bottom-color
            border-left-color

*/


body{
    background-color: #333;
    color: #fff;
    margin: 0;
}
.header{
    background-color: steelblue;

}

.title{
    width: 300px;
}

.block{
    background-color: purple;
    width: 200px;
    height: 200px;
    /* margin-top: 100px */
    /* margin: 0 auto */
    margin-left: auto;
    margin-right: auto;
    /* padding: 50px 20px 100px 70px; */

}
.inline{
    background-color: lightcoral;
    color: inherit;
    /* padding-bottom: 100px; */
    /* margin-left: 100px; */
}

.buttons{
    background-color: steelblue;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
}

.button{
    margin-left: 90px;
    padding: 25px 50px;
    /* border: 20px solid red; */
    border-width: 20px;
    border-style: outset;
    border-color: red;
    border-right-color: red;
    border-bottom-color: red;
    border-right-width: 20px;
    border-style: outset;
}


