/* BOX MODEL

Caja o Contenido:   tomamos contenido a "la caja en si"
Borde:              el limite del contenido
Padding,            lo distancia que separa al contenido y el borde de la caja
Margin:             nos ayuda a separar una caja de otra
Width:              Ancho de la caja
Height:             Alto de la caja

*/

body{
    background-color: #333;
    color: #fff;
}
.block{
    background-color: purple;
    width: 200px;
    height: 200px;
}
.inline{
    background-color: lightcoral;
    color: inherit;
}