
/* BOX MODEL + BOX SIZING

BOX SIZING

    Es la propiedad que nos permite controlar el calculo que hace el navegador a la hora de modificar las propiedades: content, padding, y border.
 
    Los valores que podemos darle son
        content-box - valor por defecto
        border-box-  calculo del tamaño del elemento incluyendo el paddind y el border


    Esto se inicializa siempre en el selector universal *, para que todas las cajas tomen el valor total que se defina a cada elemento, sino tomara el del contenido
           Esto es borde + paddinf + content

*/

*{
    box-sizing: border-box;
}

body{
    background-color: #333;
    color: #fff;
    margin: 0;
}
.header{
    background-color: steelblue;

}

.title{
    width: 500px;
}

.block{
    background-color: purple;
    width: 200px;
    height: 200px;
    /* margin-top: 100px */
    /* margin: 0 auto */
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
   
    border: 5px solid red; 
    /* padding: 50px 20px 100px 70px; */

}
.inline{
    background-color: lightcoral;
    color: inherit;
    /* padding-bottom: 100px; */
    /* margin-left: 100px; */
}

.buttons{
    background-color: steelblue;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
}

.button{
    margin-left: 90px;
    padding: 25px 50px;
    /* border: 20px solid red; */
    border-width: 20px;
    border-style: outset;
    border-color: red;
    border-right-color: red;
    border-bottom-color: red;
    border-right-width: 20px;
    border-style: outset;
}






