/*
Limitadores al ancho y alto
Cuando establecemos un width y/o un height con una medida que es relativa, es posible que no queramos que se respete esa medida en todos los casos.
Para ello tenemos propiedades que limitan esas medidas:
  min-width: Indica el ancho minimo que puede alcanzar el elemento.
  max-width: Indica el ancho máximo que puede alcanzar el elemento.
  min-height: Indica el alto minimo que puede alcanzar el elemento.
  max-height: Indica el alto máximo que puede alcanzar el elemento.
*/

  body{
    margin: 0;
    background-color: #333;
    color: lightcoral
  }


  .box-container{
    width: 100%;
    max-width: 1200px;
    min-width: 800px;
    height: 60vw;
    max-height: 200px;
    min-width: 50px;
    background-color: lightgreen;
  }

  /* .box-hijo{
    width: 30vmax;
    height: 150px;
    background-color: lightblue;
  } */