/* 
VIEWPORT
El viewport es el área útil donde se mostrará la página web. IMPORTANTE, tened en cuenta que es el area visible sin hacer scroll.
Podemos usar el viewport como medida de varias formas:
  vw-> Viewport Width, hace referencia al ancho del viewport. 
  vh -> Viewport Height, hace referencia al alto del viewport.
  vmax -> Utiliza el valor más grande entre el ancho y el alto del viewport.
  vmin -> Utiliza el valor más pequeño entre el ancho y el alto del viewport.

  1vw = 1% del ancho del viewport
  1vh = 1% del alto del viewport
  1vmin = 1% del valor que sea más pequeño del viewport
  1vmax = 1% del valor que sea más grande del viewport

Limitadores al ancho y alto
Cuando establecemos un width y/o un height con una medida que es relativa, es posible que no queramos que se respete esa medida en todos los casos.
Para ello tenemos propiedades que limitan esas medidas:
  min-width: Indica el ancho minimo que puede alcanzar el elemento.
  max-width: Indica el ancho máximo que puede alcanzar el elemento.
  min-height: Indica el alto minimo que puede alcanzar el elemento.
  max-height: Indica el alto máximo que puede alcanzar el elemento. 
  
  */
  html{
    height: 300px;
  }

  body{
    margin: 0;
    background-color: #333;
    color: lightcoral
  }

  .header{
    background-color: lightskyblue;
    text-align: center;
    /* height: 100vh; */
  }

  .box{
    width: 300px;
    height: 300px;
    background-color: lightgreen;
  }

  .box-hijo{
    /* width: 50%; */
    /* width: 50vw; */
    width: 30vmax;
    height: 150px;
    background-color: lightblue;
  }