/* COMO FUNCIONA CSS

Especificidad - establece como de especifico es un selector para saber que estilo aplicar
El calculo se realiza con la siguiente formula:

    Etiquetas y pseudoelementos 0,0,1
    Clases, atributos, pseudoclases 0,1,0
    ids 1,0,0
    estilos en linea 1,0,0,0
    !importante GANA A TODO Y NO SE USA NUNCA

1 -- Cascasa - Funciona siempre que la especificidad sobre el elemento sea la misma
2 -- Herencia - Es la capacidad que tienen algunos elementos de heredar algunas propiedades de sus elementos contenedores (padres, abuelos, etc)

        inherit - valor que fuerza a que se utilice la herencia en aquellos casos donde la propiedad por defecto no se hereda, pero queramos forzar la herencia. (ejemplo con los links/enlaces y otras)

        initial - valor que se utiliza para indicarle a un elemento que no herede nada y quede con su estilo por defecto


HAY QUE UTILIZAR SIEMPRE CLASES!!!!


/********************************************************************/
/*ESPECIFICIDAD Y CASCADA */

/*
h1{
    background-color: red;
}
title{
    background-color: blue;
}
#title{
    background-color: green;
}

h1.title{
    background-color: yellow;
}
h1#title{
    background-color: teal;
}
h1.title#title{
    background-color: tomato;
}

.title{
    background-color: teal;
}

*/
/****************************************************************************/
/*  HERENCIA  */

body {
  background-color: #333;
}

.title {
  color: cyan;
  font-size: 10px;
}
.text {
  color: red;
}

.link {
  color: inherit;
}

.list {
  color: indianred;
}

.list-item-extra {
  color: initial;
}
